<template name="ratepers">
<div class="pers-wrap">
  <div class="part-img">
  <!--	<span class="number-user1">1</span> -->
    <img src="{{ava}}" alt="" class="user-rait-pic">
    <h1 >{{name}} &nbsp; {{lastname}} &nbsp; {{surname}}</h1>
    <p class="loc-us">
        <span>
          <img src="/location.png" alt="">
        </span>
        {{location}}
      </p>
    </div>
    <div class="reit-numbers">
      <section class="info-reit success-test-done" >
        <p>
          {{znoCompleted}}
          <span>тестів ЗНО <strong>пройдено</strong></span>
        </p>
      </section>
      <section class="info-reit passed-test-past" >
        <p class="test-false">
          {{znoCompleted}}
          <span>тестa ЗНО <strong>пройдено</strong></span>
        </p>
      </section>
      <section class="info-reit last-avarage">
        <p class="avarage-point">
          {{avgZNO}}
          <span>середній бал з тестів ЗНО</span>
        </p>
      </section>
    </div>
    </div>
    <hr class="line">
</template>
