<template name='rating'>
		<article class="recomendation-content" id="reit-cont">
			<div class="center wrap-main" id="test-tasks">
				<div class="left-sort">
				<form action="" id="search-form">
						<input type="submit" value="" class="search-icon1">
						<input type="text" id="nameratesearch" placeholder="Введіть ім’я користувача" class="search-icon">
					</form><!--!search-form-->
					<div id="sort">
						<section class="sort-div">
							<p>Тип</p>
								<div class="sec lang">
									<select id="typ" name="typ">
										<option class="typereit" value="gen">Загальний рейтинг</option>
										<option class="typereit" value="loc">За розташуванням</option>
									</select>
								</div><!-- .sec -->
						</section>
						<section class="sort-div">
							<p>Предмет:</p>
								<div class="sec lang">
									<select id="subj" name="subj">
												<option class="subjreit" id="total" value="total">За всіма</option>
                        {{#each subj}}
                        <option class="subjreit" id="{{_id}}" value="{{_id}}">{{name}}</option>
                        {{/each}}
									</select>
								</div><!-- .sec -->
						</section>
							{{#if isLocation}}
							<p>Розташування:</p>
						<section class="sort-div">
							<p>Область:</p>
								<div class="sec lang">
									<select id="locatRegion" name="locatRegion">
										<option value="Kiyv">Київська обл.</option>
									</select>
								</div><!-- .sec -->
						</section>

						<section class="sort-div">
							<p>Місто:</p>
								<div class="sec lang">
									<select id="locatCity" name="locatCity">
										<option value="Kiyv">Біла Церква</option>
									</select>
								</div><!-- .sec -->
						</section>

{{/if}}
					</div>
	</div>
	<section class="reit-search">
		<section class="pag-wrapp">
		<div class="pagination">
				<div class="before-controls">
					<span class="to-begin"><a class="paginator" data-a="1"></a></span>
					<span class="prev-pag"><a class="paginator" data-a="{{prevLink}}"></a></span>
				</div>
				<ul>
					{{#each linksArr}}
					<li><a class="paginator" data-a="{{this}}">{{this}}</a></li>
					{{/each}}
				</ul>
				<div class="after-controls">
					<span class="to-end"><a class="paginator" data-a="{{lastLink}}"></a></span>
					<span class="next-pag"><a class="paginator" data-a="{{nextLink}}"></a></span>
				</div>
			</div>
		</section>
		</section>
		{{#each currArr}}
		{{> ratepers}}
		{{/each}}

		<section class="reit-search">
			<section class="pag-wrapp">
			<div class="pagination">
					<div class="before-controls">
						<span class="to-begin"><a class="paginator" data-a="1"></a></span>
						<span class="prev-pag"><a class="paginator" data-a="{{prevLink}}"></a></span>
					</div>
					<ul>
						{{#each linksArr}}
						<li><a class="paginator" data-a="{{this}}">{{this}}</a></li>
						{{/each}}
					</ul>
					<div class="after-controls">
						<span class="to-end"><a class="paginator" data-a="{{lastLink}}"></a></span>
						<span class="next-pag"><a class="paginator" data-a="{{nextLink}}"></a></span>
					</div>
				</div>
			</section>
		</section>
	</div>



	</article>	<!--recomendation-content-->

</template>
