<template name="testresult">
  <div class="bg"></div>
  <div class="pop-log">

  </div>
  <div class="reg">

    </div>
  <div class="background"></div>
  <div class="background"></div>
  <div class="breadcrumbs" id="brc">
                <a href="#">Головна</a><span><img src="img/b_next.png" alt=""></span>
                <a href="#">Підготовка до ЗНО</a><span><img src="img/b_next.png" alt=""></span>
                <a href="#">Предмети</a><span><img src="img/b_next.png" alt=""></span>
                <a href="#">{{Subject}}</a>
            </div><!--breadcrumbs-->
  <section class="test-content" id="tcc">
      <div class="center wrap-main" id="test-tasks">
          <div class="test-part">

            <div class="pop-up">
              <img src="img/text.png" alt="" class="lose-text">
              <img src="img/close.png" alt="" class="close-btn">
              <p>
                Ви не захотіли закінчити цей тест, тож є велика вірогідність того, що ви не здасте ЗНО з цього предмету і не зможете вступити до бажаного ВУЗу.
              </p>
              <div class="soc-networks">
                    <span>Скажи про це друзям:</span>
                      <div>
                        <p><a href="#"></a></p>
                        <p class="fb-b"><a href="#"></a></p>
                        <p class="tw-b"><a href="#"></a></p>
                      </div>
                  </div>
                  <img src="img/like.png" alt="" class="like">
                  <a href="#">Добре, я закінчу тест!</a>
            </div><!--pop-up-->
            <h1 class="test-title">
              {{Subject}}. Реальна симуляція ЗНО.
              <span>
                <img src="img/flare.png" alt="">
                10 балів
              </span>
            </h1>

            <div class="choose-test-number" id="tstr1">
              {{#each chTask}}
								{{{this}}}
							{{/each}}
            </div><!--choose-test-number-->
            <div class="choose-answer">
              <h1>
              {{{Text}}}
              </h1><form method="post" id="form-res">
              <div class="test-body">
                    <ul class="show-test">
                      {{#each Variants}}
                        {{#if typeCheck val='standart'}}
                          {{#if checkOnCurr}}
                            {{#if currIsAnsw}}
                            <li class="you-answer">
                      <p>
                        <input type="radio" name="1">
                          {{this}}
                      <span class="correct-answer correct-answer1">Ваша відповідь правильна</span>
                      </p>
                            </li>
                            {{else}}
                            <li class="you-answer">
                      <p>
                        <input type="radio" name="1">
                          {{this}}
                      <span class="correct-answer wrong-answer">Ваша відповідь</span>
                      </p>
                            </li>
                            {{/if}}
                          {{else}}
                            {{#if thisIsAnsw}}
                            <li class="r1">
                      <p>
                        <input type="radio" name="1" required>
                          {{this}}
                      </p>
                      <span class="correct-answer correct-answer1">Правильна відповідь</span>
                          </li>
                            {{/if}}
                            <li>
												<p>
													<input type="radio" name="1">
													{{this}}
												</p>
											</li>
                          {{/if}}


                        {{/if}}

                      {{/each}}
                    </ul>
                <div class="comments-answer">
                  <a href="#">Коментар до відповіді <img src="img/bottom-arrow.png" alt=""></a>
                  <p id="comment">
                    {{comment}}
                  </p>
                </div>
                </div>
                <img src="img/test-img.png" alt="" class="form-img">
                <section>
                <form action="" method="post">
                  <input type="" name="submit" value="Далі" id="buttNext" class="nexta">
                  <div class="soc-networks">
                    <span>Поділись результатом з друзями:</span>
                      <div>
                        <p><a href="#"></a></p>
                        <p class="fb-b"><a href="#"></a></p>
                        <p class="tw-b"><a href="#"></a></p>
                      </div>
                  </div>
                  <div class="lose-text">До тестів</div>
                </form>
                </section>

              </form>
            </div>
          </div><!--test-part-->
          <div class="test-result">
            <h2>Ви вибрали:</h2>
            <div class="table-result-tr">
                <div class="td">
                  Предмет:
                </div>
                <div class="td choosen-td">
                  {{Subject}}
                </div>
            </div><!--!table-result-tr-->
            <div class="table-result-tr">
                <div class="td">
                  Тип тесту:
                </div>
                <div class="td choosen-td">
                  Основна сесія ЗНО
                </div>
            </div><!--!table-result-tr-->
            <div class="table-result-tr">
                <div class="td">
                  Рік:
                </div>
                <div class="td choosen-td">
                  {{Year}}
                </div>
            </div><!--!table-result-tr-->
            <div class="table-result-tr">
                <div class="td">
                  Сесія:
                </div>
                <div class="td choosen-td">
                  {{Session}}
                </div>
            </div><!--!table-result-tr-->
            <div class="test-time">
              <p>
                <img src="img/time-clock.png" alt="">
                Часу залишилось:
                <span>{{getCountdown}}</span>
              </p>
              <div>
                <section class="pause">

                </section>
                <span>Пауза</span>
              </div>
            </div><!--test-time-->
            </div><!--test-result-->
          </div>
      <!--center-->
  </section><!--test-content-->


</template>
