<template name="tests">

	<section class="be-ready zno-ready">
	  <div class="center">
	    <div class="ready-caption">
	      <div class="breadcrumbs">
	        <a href="#">Головна</a><span><img src="b_next.png" alt=""></span>
	        <a href="#">Підготовка до ЗНО</a><span><img src="b_next.png" alt=""></span>
	        <a href="#">Вибір тестів</a><span><img src="b_next.png" alt=""></span>
	      </div>

	    </div><!--!ready-caption-->
	  </div><!--!center-->
	  <div class="sub-menu-section">
	    <div class="center">
	      <nav class="sub-menu">
	        <ul>
	          <li>
	            <a href="themes.html">Теми</a>
	            <span>Теми</span>
	          </li>
	          <li>
	            <a href="recomendation.html">Рекомендації</a>
	            <span>Рекомендації</span>
	          </li>
	          <li>
	            <a href="#">Статті</a>
	            <span>Статті</span>
	          </li>
	          <li>
	            <a href="#">Завдання</a>
	            <span>Завдання</span>
	          </li>
	          <li>
	            <a href="test.html">Тести</a>
	            <span>Тести</span>
	          </li>
	          <li>
	            <a href="vocabulary.html">Словник</a>
	            <span>Словник</span>
	          </li>
	        </ul>
	        <img src="menu.png" alt="" class="menu1">
	      </nav>
	    </div>	<!--!center-->
	</div>
	</section>
	<section class="test-content">
	    <div class="center wrap-main" id="test-tasks1">
	      <div id="hide-top">
	            <div class="breadcrumbs">
	                <a href="#">Головна</a><span><img src="b_next.png" alt=""></span>
	                <a href="#">Підготовка до ЗНО</a><span><img src="b_next.png" alt=""></span>
	                <a href="#">Предмети</a><span><img src="b_next.png" alt=""></span>
	                <a href="#">Історія України</a>
	            </div><!--breadcrumbs-->
	            <h1 class="test-title test-title1">
	              Реальна симуляція ЗНО з Хімії.
	              <span>
	                <img src="flare.png" alt="">
	                10 балів
	              </span>
	            </h1>
	          </div>
	          <div class="test-result" id="test-result1">
	          <h2>Ви вибрали:</h2>
	          <div id="left-part">
	            <div class="table-result-tr">
	                <div class="td">
	                  Предмет:
	                </div>
	                <div class="td choosen-td">
	                  Хімія
	                </div>
	            </div><!--!table-result-tr-->
	            <div class="table-result-tr">
	                <div class="td">
	                  Тип тесту:
	                </div>
	                <div class="td choosen-td">
	                  Основна сесія ЗНО
	                </div>
	            <div class="test-time">
	              <p>
	                <img src="time-clock.png" alt="">
	                Часу залишилось:
	                <span>01:49:57</span>
	              </p>
	              <div>
	                <section class="pause">

	                </section>
	                <span>Пауза</span>
	              </div>
	            </div>
	            </div><!--!table-result-tr-->
	          </div>
	          <div id="right-part">
	            <div class="table-result-tr">
	                <div class="td">
	                  Рік:
	                </div>
	                <div class="td choosen-td">
	                  2014
	                </div>
	            </div><!--!table-result-tr-->
	            <div class="table-result-tr">
	                <div class="td">
	                  Сесія:
	                </div>
	                <div class="td choosen-td">
	                  I
	                </div>
	            </div><!--!table-result-tr-->
	            <div class="test-time">
	              <p>
	                <img src="time-clock.png" alt="">
	                Часу залишилось:
	                <span>01:49:57</span>
	              </p>
	              <div>
	                <section class="pause">

	                </section>
	                <span>Пауза</span>
	              </div>
	            </div>
	          </div>
	          </div><!--test-result-->
	        <div class="test-part" id="tests-part2">
	          <div class="pop-up">
	            <img src="text.png" alt="" class="lose-text">
	            <img src="close.png" alt="" class="close-btn">
	            <p>
	              Ви не захотіли закінчити цей тест, тож є велика вірогідність того, що ви не здасте ЗНО з цього предмету і не зможете вступити до бажаного ВУЗу.
	            </p>
	            <div class="soc-networks">
	                  <span>Скажи про це друзям:</span>
	                    <div>
	                      <p><a href="#"></a></p>
	                      <p class="fb-b"><a href="#"></a></p>
	                      <p class="tw-b"><a href="#"></a></p>
	                    </div>
	                </div>
	                <img src="like.png" alt="" class="like">
	                <a href="#">Добре, я закінчу тест!</a>
	          </div><!--pop-up-->
	          <h1 class="test-title">
	            Проходження тестів online.
	            <p>
	            Тут зібрано варіанти тестів з англійської мови для підготовки до ЗНО-2015 онлайн. Це завдання основних і пробних сесій, а також демонстраційні варіанти ЗНО, які Український центр оцінювання якості освіти пропонував у 2010─2014 роках. За їх допомогою можна перевірити й оцінити свої знання. Порядок нарахування балів такий само, як на реальному тестуванні.

	            Зверніть увагу, що на ЗНО ви будете обмежені у часі, а крім тесту, потрібно буде виконати ще й творче завдання. Бали за
	            </p>
	          </h1>
	          <div class="choose-test-number" id="test-number">

	            <h1 class="subject">Предмет:</h1>
	            {{#each subjsToCh}}
	              <div class="subject-choose" id="subId" data-subj="{{_id}}">
	                {{name}}
	              </div>
	              {{/each}}
	              <h1 class="subject">Рік:</h1>
	              <div class="ask-test year-div">
	                {{#each yrsToCh}}
	                <div class="subject-choose" id="yrsId" data-year={{year}}>
	                  {{this}}
	                </div>
	                {{/each}}
	              </div>
	            <div class="last-test-session">
	              <h1 class="subject">Сесія</h1>
	              <div class="ask-test">
	                <div class="subject-choose" id="sess" data-ses="I" state="active">
	                  І
	                </div>
	                <div class="subject-choose" id="sess" data-ses="II" state="">
	                  II
	                </div>
	                <div class="subject-choose" id="sess" data-ses="III" state="">
	                  Додаткова
	                </div>
	              </div>
	            </div>
	          </div><!--choose-test-number-->

	    </div><!--center-->
	    <div class="test-result myres"  id="test-result">
	          <h2>Ви вибрали:</h2>
	          <div class="table-result-tr">
	              <div class="td">
	                Предмет:
	              </div>
	              <div class="td choosen-td" id="sj">
	                Хімія
	              </div>
	          </div><!--!table-result-tr-->
	          <div class="table-result-tr">
	              <div class="td">
	                Тип тесту:
	              </div>
	              <div class="td choosen-td">
	                Основна сесія ЗНО
	              </div>
	          </div><!--!table-result-tr-->
	          <div class="table-result-tr">
	              <div class="td">
	                Рік:
	              </div>
	              <div class="td choosen-td" id="yr">2014</div>
	          </div><!--!table-result-tr-->
	          <div class="table-result-tr">
	              <div class="td">
	                Сесія:
	              </div>
	              <div class="td choosen-td" id="ss">
	                I
	              </div>
	              <div class="test-time" id="t-choose">
	              <p>
	                <i>
	                  Без обмежень<br>у часі
	                </i>
	                <strong class="pause bgn-test" id="startTest" data-time="unlim">
	                Розпочати
	                </strong>
	              </p>

	              </div>
	              <div class="test-time" id="t-choose">
	              <p class="time-l">
	                  <img src="time-limit.png" alt="">

	                <i>
	                  120 хв
	                </i>
	                <strong class="pause bgn-test" id="startTest" data-time="limited">
	                  Розпочати
	                </strong>
	              </p>

	              </div>
	          </div><!--!table-result-tr-->
	          </div>
	          </div>
	</section><!--test-content-->
</template>
