<template name="test">
	<div class="bg"></div>
  <div class="pop-log">

  </div>
  <div class="reg">

    </div>
  <div class="background"></div>
  <div class="background"></div>
  <div class="breadcrumbs" id="brc">
                <a href="#">Головна</a><span><img src="/b_next.png" alt=""></span>
                <a href="#">Підготовка до ЗНО</a><span><img src="/b_next.png" alt=""></span>
                <a href="#">Предмети</a><span><img src="/b_next.png" alt=""></span>
                <a href="#">Історія України</a>
            </div><!--breadcrumbs-->

<section class="test-content">
			<div class="center wrap-main" id="test-tasks">
						<div id="hide-top">
							<h1 class="test-title" oncopy="return false;">
								Реальна симуляція ЗНО: {{Subject}}
								<span>
									<img src="/flare.png" alt="">
									10 балів
								</span>
							</h1>
						</div>
					<div class="test-result" id="test-result1">
						<h2>Ви вибрали:</h2>
						<div id="left-part">
							<div class="table-result-tr">
									<div class="td">
										Предмет:
									</div>
									<div class="td choosen-td">
										{{Subject}}
									</div>
							</div><!--!table-result-tr-->
							<div class="table-result-tr">
									<div class="td">
										Тип тесту:
									</div>
									<div class="td choosen-td">
										Основна сесія ЗНО
									</div>
							</div><!--!table-result-tr-->
						</div>
						<div id="right-part">
							<div class="table-result-tr">
									<div class="td">
										Рік:
									</div>
									<div class="td choosen-td">
										{{Year}}
									</div>
							</div><!--!table-result-tr-->
							<div class="table-result-tr">
									<div class="td">
										Сесія:
									</div>
									<div class="td choosen-td">
										{{Session}}
									</div>
							</div><!--!table-result-tr-->
						</div>
						<div class="test-time">
							<p>
								<img src="/time-clock.png" alt="">
								Часу залишилось:
								<span>01:49:57</span>
							</p>
							<div>
								<section class="pause">

								</section>
								<span>Пауза</span>
							</div>
						</div><!--test-time-->
						</div><!--test-result-->
					<div class="test-part" >
						<div class="pop-up">
							<img src="/text.png" alt="" class="lose-text">
							<img src="/close.png" alt="" class="close-btn">
							<p>
								Ви не захотіли закінчити цей тест, тож є велика вірогідність того, що ви не здасте ЗНО з цього предмету і не зможете вступити до бажаного ВУЗу.
							</p>
							<div class="soc-networks">
										<span>Скажи про це друзям:</span>
											<div>
												<p><a href="#"></a></p>
												<p class="fb-b"><a href="#"></a></p>
												<p class="tw-b"><a href="#"></a></p>
											</div>
									</div>
									<img src="/like.png" alt="" class="like">
									<a class="close-btn">Добре, я закінчу тест!</a>
									<a class="losebtn">Я здаюся!</a>
						</div><!--pop-up-->
						<h1 class="test-title">
							{{Subject}}. Реальна симуляція ЗНО.
							<span>
								<img src="/flare.png" alt="">
								10 балів
							</span>
						</h1>
            <div class="choose-test-number" id="test-ac">
              {{#each chTask}}
            {{{this}}}
              {{/each}}
            </div><!--choose-test-number-->
						<div class="choose-answer">
							<h1>
								{{{Text}}}
							</h1>
							<form method="post">
							<div class="test-body">
                  	<ul class="show-test">
											{{#each Variants}}
											  {{#if typeCheck val='standart'}}
											<li>
												<p>
													<input type="radio" name="1" required class="ewq" value= "{{this}}" data-ans="{{this}}">
												{{this}}
												</p>
											</li>
											{{/if}}
                      {{/each}}
                    </ul>

								</div>
								<img src="/test-img.png" alt="">
								<section>
								<form action="" method="post">
									<input type="" name="submit" value="Відповісти" id="buttNext" readonly>
{{#if checkFinish}}
                  <div class="lose-text" id="finish">Завершити</div>
{{else}}
                  <div class="lose-text" id="lose">Здатися</div>
                  {{/if}}


							</form>	</section></form>
						</div>
					</div><!--test-part-->
					<section class="rail">
						<div class="test-result" id="tstres">
							<h2>Ви вибрали:</h2>
							<div class="table-result-tr">
									<div class="td">
										Предмет:
									</div>
									<div class="td choosen-td">
										{{Subject}}
									</div>
							</div><!--!table-result-tr-->
							<div class="table-result-tr">
									<div class="td">
										Тип тесту:
									</div>
									<div class="td choosen-td">
										Основна сесія ЗНО
									</div>
							</div><!--!table-result-tr-->
							<div class="table-result-tr">
									<div class="td">
										Рік:
									</div>
									<div class="td choosen-td">
										{{Year}}
									</div>
							</div><!--!table-result-tr-->
							<div class="table-result-tr">
									<div class="td">
										Сесія:
									</div>
									<div class="td choosen-td">
										{{Session}}
									</div>
							</div><!--!table-result-tr-->
							<div class="test-time">
								<p>
									<img src="/time-clock.png" alt="">
									Часу залишилось:
									<span id="timer">{{getCountdown}}</span>
								</p>
								<div>
									<section class="pause">

									</section>
									<span>{{#if pauser}}Продовжити{{#else}}Пауза{{/else}}{{/if}}</span>
								</div>
							</div><!--test-time-->
							</div><!--test-result-->
					</section>
					</div>
			<!--center-->
    </section>
	<!--test-content-->
﻿</template>
