﻿
<template name="testdone">

	<div class="bg"></div>
	<div class="pop-log">
	</div>
	<div class="reg">

	</div>
	<div class="background"></div>
	<div class="background"></div>

	<div class="breadcrumbs" id="brc">
								<a href="#">Головна</a><span><img src="/b_next.png" alt=""></span>
								<a href="#">Підготовка до ЗНО</a><span><img src="/b_next.png" alt=""></span>
								<a href="#">Тести ЗНО</a><span><img src="/b_next.png" alt=""></span>
								<a href="#">{{Subject}}</a>
						</div><!--breadcrumbs-->
	<section class="test-content" id="tcc">
			<div class="center wrap-main" id="test-tasks">
					<div class="test-part">

						<div class="pop-up">
							<img src="/text.png" alt="" class="lose-text">
							<img src="/close.png" alt="" class="close-btn">
							<p>
								Ви не захотіли закінчити цей тест, тож є велика вірогідність того, що ви не здасте ЗНО з цього предмету і не зможете вступити до бажаного ВУЗу.
							</p>
							<div class="soc-networks">
										<span>Скажи про це друзям:</span>
											<div>
												<p><a href="#"></a></p>
												<p class="fb-b"><a href="#"></a></p>
												<p class="tw-b"><a href="#"></a></p>
											</div>
									</div>
									<img src="/like.png" alt="" class="like">
									<a href="#">Добре, я закінчу тест!</a>
						</div><!--pop-up-->
						<h1 class="test-title">
							{{Subject}}. Реальна симуляція ЗНО.
							<span>
								<img src="/flare.png" alt="">
								10 балів
							</span>
						</h1>

						<div class="choose-test-number" id="tstr1">
							{{#each chTask}}
								{{{this}}}
							{{/each}}
						</div><!--choose-test-number-->
						<div class="choose-answer chans">
							<form method="post" id="form-res">
							<div class="test-body">
										<div class="congratilations">
										<h3>
											Вітаємо!
										</h3>
										<h4>
											Ви відповіли правильно на <span>{{numberOfRightAnswrs}}</span> з <span>30</span> питань.
										</h4>

										<div class="loader">
											<div class="progress-bar" style="width: {{percentsResult}}%;"><div class="progress-stripes"></div><div class="percentage">{{percentsResult}}%</div></div>
										</div>
										<div class="answer-status">
											<div class="name-of-answer">
												Правильних відповідей:
											</div><!--!name-of-answer-->
											<div class="answer">
												{{numberOfRightAnswrs}}
											</div>
										</div><!--!answer-status-->
										<div class="answer-status">
											<div class="name-of-answer">
												Тестових балів набрано:
											</div><!--!name-of-answer-->
											<div class="answer">
												{{testPoints}}
											</div>
										</div><!--!answer-status-->
										<div class="answer-status">
											<div class="name-of-answer">
												Творче завдання:
											</div><!--!name-of-answer-->
											<div class="answer">
												<i>+{{creativePoints}}</i> <span>(додано)</span>
											</div>
										</div><!--!answer-status-->
									</div>
								</div>
								<section>
								<form action="" method="post">
									<input type="" name="submit" value="Результати" class="res-but">
									<!--<div class="res-but">Результати</div>-->
									<div class="soc-networks">
										<span>Поділись результатом з друзями:</span>
											<div>
												<p><a href="#"></a></p>
												<p class="fb-b"><a href="#"></a></p>
												<p class="tw-b"><a href="#"></a></p>
											</div>
									</div>
									<div class="lose-text">До профілю</div>
							</form></section></form>
						</div>
					</div><!--test-part-->
					<div class="test-result">
						<h2>Ви вибрали:</h2>
						<div class="table-result-tr">
								<div class="td">
									Предмет:
								</div>
								<div class="td choosen-td">
									{{Subject}}
								</div>
						</div><!--!table-result-tr-->
						<div class="table-result-tr">
								<div class="td">
									Тип тесту:
								</div>
								<div class="td choosen-td">
									Основна сесія ЗНО
								</div>
						</div><!--!table-result-tr-->
						<div class="table-result-tr">
								<div class="td">
									Рік:
								</div>
								<div class="td choosen-td">
									{{Year}}
								</div>
						</div><!--!table-result-tr-->
						<div class="table-result-tr">
								<div class="td">
									Сесія:
								</div>
								<div class="td choosen-td">
									{{Session}}
								</div>
						</div><!--!table-result-tr-->
						<div class="test-time">
							<p>
								<img src="/time-clock.png" alt="">
								Часу залишилось:
								<span>{{getCountdown}}</span>
							</p>
							<div>
								<section class="pause">

								</section>
								<span>Пауза</span>
							</div>
						</div><!--test-time-->
						</div><!--test-result-->
					</div>

	</section><!--test-content-->


</template>
